@font-face {
    font-family: JetBrainsMonoRegularNerdFontComplete;
    src: url(../../assets/fonts/JetBrainsMonoRegularNerdFontComplete.ttf);
    font-weight: bold;
    
}
html,body{margin:0px; padding:0px}
*{font-family:  JetBrainsMonoRegularNerdFontComplete,sans-serif}

/*Radar*/
.fp-radar-container {position: relative; }   
.fp-radar-container canvas{position: absolute; background: transparent}
.fp-radar-container #fp-radar-background-layer {background:#000}

@font-face {
    font-family: 'JetBrains Mono Regular NerdFont Complete';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/JetBrainsMonoRegularNerdFontComplete.ttf);
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #e0bb00 #000!important;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
    height:8px;
}

*::-webkit-scrollbar-track {
    background: #070709 !important;
}

*::-webkit-scrollbar-thumb {
    background-color: #e0bb00;
    border-radius: 0;
    border: 0;
}
body, html {
    font-family: 'JetBrains Mono Regular NerdFont Complete', serif;
    font-size: 11px;
    color: #adc9d7

}

.input-group-text {
    border-radius: 0 !important
}

.fp-page-btn{
    font-size:13px;
}










.card, .card-header {
    border-radius: 0px;
    border-width: 2px;
}

input, textarea, button, div {
    border-radius: 0 !important
}

button {
    border-width: 1px !important
}

#fp-page-nav div button {width:6rem !important}

/* Additional styling for the clock and task cards */
.clock {
    font-size: 1.5rem;
}
.task-card {
    margin-bottom: 1rem;
    padding: 1rem;
    border-bottom: 1px solid #adc9d7;

}
.radar-view {
    height: 100%;
}
.unused-bar {
    height: 100%;
}
.info-slot {
    font-size: 1rem;
}
.full-page {
    min-height: 100vh; /* Ensure the full height of the viewport */
}
.main-container {
    height: calc(100vh - 56px); /* Subtract the top bar height */
    overflow: auto;
}