/*
- Sentiments
    - Good
    - Bad
    - Unknown
- Results
    - Pass
    - Fail
    - Unknown
- InfoTypes
    - Label
    - Ref
    - Prompt
    - Warning
    - Caution

*/

.fp-good, .fp-pass {color: #6ef300;}
.fp-bad, .fp-fail {color:#ff0000;}
.fp-unknown { color: #40bcc0; }


.fp-label {color: #fd9dfd}
.fp-ref{color:deepskyblue}
.fp-source{color:mediumpurple}
.fp-prompt {color: coral}
.fp-warning{color: #b77800}
.fp-caution{color:red}
.fp-info {color: #79baca}